@charset "utf-8";
@import url("base.css");
html {
	font-size: 312.5%;
	min-width: 6.4rem;
}
body {
	font-family: "微软雅黑";
}
ol li {
	list-style-type: none;
}
#wrap {
	max-width: 640px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 0.8rem;
}
/*轮播*/
.swiper-container {
	width: 100%;
	height: 4rem;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-position: center center;
	background-size: auto 4rem;
}
@media screen and (min-width: 320px) {
	html {
		font-size: 312.5%;
	}
}
@media screen and (min-width: 360px) {
	html {
		font-size: 351.5%;
	}
}
@media screen and (min-width: 410px) {
	html {
		font-size: 400%;
	}
}
@media screen and (min-width: 480px) {
	html {
		font-size: 469%;
	}
}
@media screen and (min-width: 640px) {
	html {
		font-size: 625%;
	}
}